body {
  @apply font-instrument-sans max-w-[1600px]  overflow-x-hidden mx-auto bg-neutral-50;
}

body::-webkit-scrollbar {
  width: 0.75em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
  /* outline: 1px solid slategrey; */
}

.progress-bar {
  background-size: 1rem 1rem;
  animation: progress-bar-line 1s linear infinite;

  @apply text-primary-blue;
}

@keyframes progress-bar-line {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: 0 0;
  }
}
